* {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  color: #212529;
}

html, body {
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, rgba(85, 88, 218, 0.5), rgba(95, 209, 249, 0.5));
  background-size: 200% 200%;
  animation: blue-gradient-background 15s ease 0s infinite alternate both;
  transition: all 100ms ease-in-out;
}

@keyframes blue-gradient-background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


h1, h2, p {
  line-height: 150%;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

main {
  height: 100%;
  width: 80%;
  min-width: 300px;
  max-width: 600px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main > *:first-child {
  margin-bottom: 40px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #495057;
  border-radius: 10px;
  opacity: 0.15;
  box-shadow: 2px 2px 4px #343a40;
}

article {
  position: relative;
  padding: 15px;
}

button {
  position: relative;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
  background: inherit;

  transition: transform 0.10s ease-in-out;
}

svg {
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}

button:hover svg {
  transition: all 100ms ease-in-out;
}

input {
  display: none;
}
