* {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  color: #293241;
}

html, body {
  height: 100%;
  width: 100%;
  /* background-color: #e0fbfc; */
  background-color: #f8f9fa;
}

body {
  overflow: hidden;
}

h1, h2, p {
  line-height: 150%;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  max-width: 700px;
  margin: 20px;
  padding: 15px;
}

#outer {
  position: relative;
}

#example {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  position: relative;
}

#example.hide {
  transform: translateX(-20px);
  opacity: 0;
  transition: all 100ms ease-in-out;
}

#upload {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
  width: 100%;
  transform: translateX(20px);
  opacity: 0;
}

#upload.show {
  transform: translateX(0px);
  opacity: 1;
  transition: all 100ms ease-in-out;
}

#drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid #ee6c4d;
  border-style: dashed;
  background: inherit;
  cursor: pointer;

  transition: all 100ms ease-in-out;
}

#drop.expanded {
  background-color: #e9ecef;
  transition: all 100ms ease-in-out;
}

#drop h3 {
  padding: 30px;
  font-size: 1.25rem;
}

#drop svg {
  padding-bottom: 30px;
}


#example > * {
  margin: 20px;
  padding: 10px;
  border-radius: 1px;
}


#try-it {
  position: absolute;
  bottom: -50px;
  right: 0;

  transform: scale(1, 1);
  background: #ee6c4d;
  padding: 10px 12px;
  border-radius: 1px;
  font-size: 1.5rem;
  box-shadow: 4px 4px 8px #ced4da;
  transition: all 50ms ease-in-out;
}

#try-it:hover {
  transform: scale(1.1, 1.1);
  transition: all 50ms ease-in-out;
  box-shadow: 6px 6px 8px #ced4da;
  cursor: pointer;
}

#try-it:active {
  transform: scale(0.95, 0.95);
  transition: all 50ms ease-in-out;
}

svg {
  transition: all 100ms ease-in-out;
}


input {
  display: none;
}

.bg {
  background-color: #98c1d9;
  box-shadow: 4px 4px 8px #ced4da;
  transition: all 150ms ease-in-out;
}

.bg:hover {
  box-shadow: 6px 6px 8px #ced4da;
  transition: all 150ms ease-in-out;
}
